<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdjd.springboot.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.hdjd.springboot.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idCard" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="PoliceResultMap" type="com.hdjd.springboot.model.Police">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="police_rank" property="policeRank" jdbcType="VARCHAR"/>
        <result column="police_start_dt" property="policeStartDt" jdbcType="TIMESTAMP"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="AdminResultMap" type="com.hdjd.springboot.model.Admin">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, mail, name, idcard, pwd
  </sql>

    <sql id="Police_Column_List">
    id, mail, name, police_rank, police_start_dt,pwd
  </sql>

    <sql id="Admin_Column_List">
    id, mail, name, pwd
  </sql>

    <select id="queryUser" resultMap="BaseResultMap" parameterType="com.hdjd.springboot.model.LoginBean">
        select
        <include refid="Base_Column_List"/>
        from
        tb_user
        where mail = #{mail,jdbcType=VARCHAR} and pwd = #{pwd,jdbcType=VARCHAR}
    </select>

    <select id="queryPolice" resultMap="PoliceResultMap"
            parameterType="com.hdjd.springboot.model.LoginBean">
        select
        <include refid="Police_Column_List"/>
        from
        tb_police
        where mail = #{mail,jdbcType=VARCHAR} and pwd = #{pwd,jdbcType=VARCHAR}
    </select>

    <select id="queryAdmin" resultMap="AdminResultMap" parameterType="com.hdjd.springboot.model.LoginBean">
        select
        <include refid="Admin_Column_List"/>
        from
        tb_admin
        where mail = #{mail,jdbcType=VARCHAR} and pwd = #{pwd,jdbcType=VARCHAR}
    </select>

    <select id="exist" resultType="java.lang.Integer" parameterType="com.hdjd.springboot.model.LoginBean">
        select count(1)
        from
        <if test="userType=='user'">
            tb_user
        </if>
        <if test="userType=='police'">
            tb_police
        </if>
        <if test="userType=='admin'">
            tb_admin
        </if>
        where mail = #{mail,jdbcType=VARCHAR}
    </select>

    <insert id="insertUser" parameterType="com.hdjd.springboot.model.User">
        insert into
        tb_user
        (
        <include refid="Base_Column_List"/>
        )
        values (0, #{mail,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{idCard,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
    </insert>
</mapper>